<%- include("./include/header") %>
<div class="posts_container">
  <h1 class="posts_box_title">최신 게시글</h1>
  <ul class="posts_box post_box_line">
    <li class="posts_list_title">제목</li>
    <li class="posts_list_user">작성자</li>
    <li class="posts_list_time">작성시간</li>
    </ul>
    <% newPosts.forEach(post => { %>
      <ul class="posts_box">
        <a href="/posts/<%= post._id %>">
        <li class="posts_list_title"><%= post.title %> <span class="posts_list_comments">[<%= post.comments.length %>]</span></li>
        </a>
        <li class="posts_list_user"><%= post.user.nickname%></li>
        <li class="posts_list_time"><%= formattedDate(post.createdAt) %></li>
      </ul>
    <% }); %>
</div>
<div class="hot_posts_container">
  <h1 class="hot_posts_box_title">인기 게시글</h1>
  
  <ol class="hot_posts_box">
    <% let count = 1 %> 
    <% hotPosts.forEach(post => { %>
        <a href="/posts/<%= post._id %>">
          <li class="hot_posts_list">
            <span><%= count%></span> 
            <span><%= post.title %></span>
            <span class="posts_list_comments">[<%= post.comments.length %>]</span>
          </li>
        </a>
        <% count++ %>
    <% }); %>
  </ol>
</div>
</div>

<%- include("./include/footer") %>
