<%- include("./include/header") %>

<div class="posts_container">
  <h1 class="posts_box_title"><%- category %>조</h1>
  <ul class="posts_box post_box_line">
    <li class="posts_list">제목</li>
    <li class="posts_list">작성자</li>
    <li class="posts_list">작성시간</li>
  </ul>
  <% posts.forEach(post => { %>
  <ul class="posts_box">
    <li class="posts_list"><%= post.title %></li>
    <li class="posts_list"><%= post.user.nickname%></li>
    <li class="posts_list posts_time"><%= post.createdAt %></li>
  </ul>
  <% }); %>
</div>

<%- include("./include/footer") %>
