<%- include("./include/header") %>

<div class="post-container">
  <h1 class="post-category">
  <a href="/posts/<%= post.category %>"><%= post.category %>조</a>
  <h1>
  <div class="post-header-box">
    <h1 class="post-title">
      <%= post.title %>
    </h1>
    <span class="post-user"> <%= post.user.nickname %></span>
    <% if (user !== post.user.id && isLoggedIn ) { %>
    <button class="user-block-btn" onclick="blockUser()">유저 차단</button>
    <% } %>
    <span class="post-time"> <%= formattedDate(post.createdAt) %></span>
  </div>
  <div class="post-contents">
    <%= post.content %>
  </div>
  <% if (user === post.user.id) { %>
  <div class="post-control-box">
    <a href="/posts/<%= post.id %>/edit"><button type="submit">수정</button></a>
    <a href="/posts/<%= post.id %>/delete"><button type="submit">삭제</button></a>
  </div>
  <% } %>
  <div class="post-comments-container">
    <% originComments.forEach(comment => { %>
      <ul class="post-comments-box">
        <li><%= comment.user.nickname %></li>
        <li><%= comment.text %></li>
        <li class="comments-time"><%= formattedDate(comment.createdAt) %></li>
        <% if (user === comment.user.id) { %>
          <li><a href="/posts/deleteComment/<%= comment._id %>"><button>X</button></a></li>
          <% } %>
      </ul>
    <% }); %>
    <% if (isLoggedIn) { %>
      <form method="POST" class="post-comment-add">
        <input class="post-comment-input" name="text" type="text">
        <button class="post-comment-btn" type="submit">작성</button>
      </form>
      <% } %>
  </div>
  
  <script>
    function blockUser() {
      var userId = '<%= post.user._id %>';
    
      fetch('/users/blocking', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId: userId })
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
    function deleteComment (id){
      console.log("ho")
      fetch('/posts/deleteComment', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id })
      })
      .then(response => response.json())
      .catch((error) => {
        console.error('Error:', error);
      });
    }
    </script>
</div>

<script src="/public/js/post.js"></script>
<%- include("./include/footer") %>